@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {border: 1px solid #04f540;} */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    background: var(--bg);
    /* background-image: url(PUBGLite_Vikendi_1920x1080.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center center; */
}

#background {
    position: fixed;
    z-index: -1;
}

/* HEADER START */

/* header */
.headerPrincipal {
    padding-top: 1em;
    /* padding-bottom: 0.5em; */
    /* background-color: rgb(28, 65, 52); */
}

/* TROCA DE TEMA START */
.theme-light {
    --bg: #9ba3aa;
    --bgColor: #d1d5de;
    --bgPainel: #104585;
    --bgPainelAcender: #0370a3;
    --colorSecondary: rgb(30, 35, 45);
    --colorAcender: rgba(70, 70, 90, 0.5);
    --fontColorAcender: rgb(245, 245, 245);
    --fontColor: #d2d2d2;
}

.theme-dark {
    --bg: rgb(40, 40, 55, 0.9);
    --bgColor: rgb(40, 40, 55);
    --bgPainel: rgb(30, 35, 45);
    --bgPainelAcender: rgb(65, 75, 90);
    --colorSecondary: rgb(145, 160, 215);
    --colorAcender: rgb(155, 220, 255);
    --fontColorAcender: rgb(155, 220, 255);
    --fontColor: rgb(230, 230, 230);
}

/* TROCA DE TEMA END */

/* SWITCHER PARA TROCA DE TEMA START*/
.switchContainer {
    /* display: flex; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: var(--color-secondary); */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    top: 1.1em;
    left: 80%;
}

.toggleInput[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggleLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 3.2em;
    height: 1.6em;
    background: var(--bgPainel);
    float: right;
    border-radius: 6.2em;
    position: relative;
}

.toggleLabel:hover {
    background: var(--bgPainelAcender);

}

/* bolinha de seleçao */
.toggleLabel::after {
    content: '';
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--fontColorAcender);
    border-radius: 5.6em;
    transition: 0.3s;
}

.toggleInput:checked+.toggleLabel {
    background-color: var(--bgPainel);
}

.toggleInput:checked+.toggleLabel:hover {
    background-color: var(--bgPainelAcender);

}

.toggleInput:checked+.toggleLabel::after {
    left: calc(100% -  0.3em);
    transform: translateX(-100%);
}

.toggleLabel:active:after {
    width: 2.8em;
}

/* SWITCHER PARA TROCA DE TEMA END*/

/* header nav */
.navMenuTopo {
    padding-top: 0.1em;
    /* background-color: rgb(115, 138, 202); */
}

/* header div */
.socialMediaIcons {
    padding: 0.1em 0.5em 0 0;
    /* background-color: #cf6161; */
    text-align: right;
    font-size: 1.5em;
}

.isocialF {
    color: #4267B2;
}

.isocialY {
    color: #ee0000;
}

.isocialD {
    color: #7289da;
}

.isocialS {
    color: rgb(160, 170, 175);
}

/* header div a:visited */
.socialMediaIcons a:visited {
    color: greenyellow;
}

/* header div i:hover */
.socialMediaIcons i:hover {
    transition: 0.3s linear;
    color: #fff;
}

/* header nav ul */
.ulMenuTopo {
    display: flex;
    list-style-type: none;
    /* background-color: hsl(215, 80%, 35%); */
    background-color: var(--bgPainel);
    justify-content: center;
}

/* header nav ul li */
.liMenuTopo {
    padding: 0.5em 0.5em 0em 0.5em;
    /* background-color: hsl(215, 70%, 40%); */
    transition: 0.3s linear;
    border-bottom: 0.5em solid var(--bgPainel);
    position: relative;
    display: inline-block;
}

/* header nav ul li a */
.liMenuTopo a {
    color: var(--fontColor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* header nav ul li:hover */
.liMenuTopo:hover {
    border-bottom: 0.1em solid var(--fontColorAcender);
    background-color: var(--bgPainelAcender);
}

/* header nav ul li a:hover */
.liMenuTopo a:hover {
    color: var(--fontColorAcender);
    /* background-color: hsl(215, 80%, 55%); */
}

/* SUB MENU START */
.sub-menu {
    background-color: var(--bgPainel);
    display: none;
    position: absolute;
    top: 2.4em;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation-duration: 0.3s;
}

.sub-menu a {
    padding: 1em;
    color: var(--fontColor);
    display: block;
}

.sub-menu a:hover {
    background-color: var(--bgPainelAcender);
}

.sub-menu-sub {
    display: none;
    background-color: var(--bgPainel);
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    top: 0;
    left:  7.8em;
    z-index: 2;
    animation-duration: 0.3s;
}

/* .btncursos2:hover + .sub-menu-sub {
    display: block;
} */

.mostrarSub-menu {
    display: block;
}

/* SUB MENU END */

/* Registro E Login START */
@keyframes anima {
    from {
        top: -999px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.RegistroLoginModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 1em;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    color: white;
}

.mostraRegistro {
    display: flex;
}

.esconderRegistro {
    display: none;
}

#formulario {
    position: relative;
    animation: anima 0.3s;
    display: flex;
    background-color: #000000fb;
    width: 25em;
    height: 25em;
    margin-top: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 1.2em 0 rgba(0, 0, 0, 0.5);
}

#formulario label {
    margin-top: 1em;
}

#formulario input {
    text-align: center;
    width: 70%;
    height: 2em;
}

#formulario input:hover {
    border: 2px solid rgba(19, 111, 117, 0.842);

}

#btnFecharModal,
#btnFecharModal2 {
    position: absolute;
    top: 1em;
    right: 8em;
    font-size: larger;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 30%;
    padding: 0.1em;
    width: 1em;
}

#btnFecharModal:hover,
#btnFecharModal2:hover {
    color: red;
    cursor: pointer;
    background-color: bisque;
    border: 1px solid red;
}

#formulario .btnInput {
    /* display: inline; */
    margin-top: 0.5em;
}

.LoRe {
    position: absolute;
    top: 1.5em;
    left: 1em;
}

#registrarSE,
#logarSE {
    cursor: pointer;
    text-decoration: none;
    /* background: none; */
    border: 1px solid var(--fontColor);
    border-radius: 0.4em;
    border-radius: 0.3em;
    padding: 0.2em 0.4em;
    background-color: var(--bgPainel);
    color: var(--fontColor);
}

#registrarSE:hover,
#logarSE:hover {
    background-color: var(--bgPainel);
    color: var(--fontColorAcender);
    border: 1px solid var(--fontColorAcender);
}

/* Registro E Login END */

/* HEADER END */


/* BANNER HOME START */
/* body div */
.bannerHome {
    display: flex;
    justify-content: center;
    /* padding-bottom: 0.5em; */
    /* height: 50%; */
    margin-bottom: 1em;
    /* text-align: justify; */
}

/* body div img */
.bannerHome img {
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.slideshow-slides {
    display: none;
}

/* Next & previous buttons */
.slideshow-prev,
.slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -1.3em;
    padding: 0.5em;
    color: var(--colorSecondary);
    font-size: 1.5em;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "slideshow-next button" to the right */
.slideshow-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover,
.slideshow-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-legenda {
    color:var(--bgPainel);
    font-size: 1em;
    padding: 0.5em 0.7em;
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.slideshow-ponto {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0.1em 0.2em 0.5em 0;
    background-color: var(--colorSecondary);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-ativo,
.slideshow-ponto:hover {
    background-color: var(--fontColorAcender);
}

/* Fading animation */
.slideshow-fade {
    animation-name: slideshow-fade;
    animation-duration: 1.5s;
}

@keyframes slideshow-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* BANNER HOME END */

/* MAIN START */
/* main */
.mainPrincipal {
    display: flex;
    flex: 1;
    /* background-color: #cf6161; */
}

/* main aside */
.asideAuxiliarDir {
    order: 3;
    flex: 1 1 1em;
    background-color: var(--bgColor);
    border: 2px solid var(--colorSecondary);
    color: var(--colorSecondary);
    padding: 1em;
    text-align: justify;
}

/* main aside */
.asideAuxiliarEsq {
    order: 1;
    flex: 1 1 1em;
    background-color: var(--bgColor);
    border: 2px solid var(--colorSecondary);
    color: var(--colorSecondary);
    padding: 1em;
    text-align: justify;
}

/* main section */
.sectionPrincipal {
    order: 2;
    flex: 4 4 1em;
    /* overflow: hidden; para esconder a sobra da scale do parallax */
    /* background-color: rgba(23, 60, 102, 0.897); */
    color: white;
    /* padding: 1em; */
    text-align: justify;
    ;
}

/* main section article */
.sectionPrincipal article {
    /* order: 2; */
    /* flex: 4 4 1em; */
    padding: 1em;
    /* text-align: justify; */
    /* color: white; */
    background-color: var(--bgColor);
    border: 2px solid var(--colorSecondary);
    color: var(--colorSecondary);

}

/* .sectionPrincipal .artigo1 { */
/* background-color: #fbff0080; */
/* } */

/* .sectionPrincipal .artigo2 { */
/* background-color: rgba(255, 0, 0, 0.425); */
/* color: black; */
/* } */

.marginArtigo {
    margin-bottom: 1em;
}

/* MAIN END */

/* FOOTER START */
/* footer */
.footerPrincipal {
    padding: 1em;
    /* background-color: #ffff00; */
    background-color: var(--bgPainel);
    border: 2px solid var(--colorSecondary);
    color: var(--fontColor);
    text-align: justify;
}

/* FOOTER END */

/* RESPONSIVE START */
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
}

/* RESPONSIVE END */

/* animações fate

[data-animacao] {
    opacity: 0;
    transition: 0.5s linear;
}

[data-animacao="fate"] {
    transform: translate3d(0,50px,0);
}

[data-animacao] .animacaoPronta {
    opacity: 1;
    transform: translate3d(0,0,0);
}
animações fate */




/* parallax */
.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /* transform: scale(1.05); */
    background-repeat: no-repeat;
}

.Pimg1 {
    background-image: url(brasil.jpg);
}

.Pimg2 {
    background-image: url(PUBGLite_Vikendi_1920x1080.png);
}

/* parallax end */